* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
}

a {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
}

.main {
    margin: 0 1rem;
}

.main-title {
    color: #b95a0c;
    font-size: 3rem;
    text-align: center;
    padding: 54% 0;
    background-image: url(../images-video/business-man.jpg);
    background-position: 52% -56%;
    background-repeat: no-repeat;

}

.about-link {
    color:#0000ff;
    padding:0;
}

.main-text {
    line-height: 1.3rem;
    margin:1rem 0;
}

p:nth-of-type(2n) {
    font-size: 0.8rem;
    font-weight: 500;
}

.container-picture {
    position: relative;
    padding:125px 0;
}

.main-two-picture {
    position: absolute;
    top: 35px;
    left:0px;
    width:50%;
    height: auto;
    z-index: 2;
    margin: 2rem 0;
}

.main-two-picture:nth-child(odd) {
    top:-10px;
    left:130px;
    width:75%;
    height: auto;
    border: 4rem solid #fbffa7;
    z-index: 1;
}

.main-video {
   z-index:2;
} 

.main-video-legende {
    font-size: 0.8rem;
    padding:0.3rem 0;
}

.controller {
    width:0px;
    height:0px;
}

.play {
    position: relative;
    top:-160px;
    left: 130px;
    width: 4rem;
    height: 4rem;
    background-color: #0000ff;
    border:none;
    border-radius: 50%;
    color:white;
    font-size: 1.5rem;
    text-align: center;
}

.play.play-in-progress {
    background-color:transparent;
    top:-80px;
    left:-10px;
}

.background-picture {
    position: absolute;
    top:15px;
    left:-15px;
    background-color: #b6ffc0;
    width:70%;
    height:85%;
    z-index: -1;
}

.main-tree-picture {
    position: absolute;
    top: 100px;
    left:25px;
    width:35%;
    height: auto;
    z-index: 2;
    margin: 2rem 0;
}

img.main-tree-picture:nth-of-type(1) {
    top: 0px;
    left:25px;
}

img.main-tree-picture:nth-of-type(2) {
    top: 25px;
    left:175px;
    width: 45%;
    height: auto;
}

.main-picture {
    width: 100%;
    height: auto;
}

.background-picture2 {
    position: absolute;
    top:20px;
    left:35px;
    background-color: #d5b3ff;
    width: 80%;
    height:80%;
    z-index: -1;
}

.main-two-picture2 {
    position: absolute;
    top: 50px;
    left:10px;
    width:40%;
    height: auto;
    z-index: 2;
    margin: 2rem 0;
}

.main-two-picture2:nth-child(odd) {
    position: absolute;
    top: 26px;
    left:185px;
    width:60%;
    height: auto;
    z-index: 2;
    margin: 2rem 0;
}

figure.container-picture {
    padding:15px 0;
    line-height: 0;
}

.main-picture2 {
    width: 100%;
    height: auto;
}

figcaption.main-text {
    background-color:#b1c5ff;
    padding:2rem;
    margin: 0 0 1rem;
}

.arrow::after {
    content: ">"
}

main>hr.separation {
   top:238.5rem; 
}