h3 {
   width: 100%;
   padding: 1rem 0.5rem;
}
h3.articles-title {
    padding: 1rem 0;
}

h4.article-title {
    padding: 0 0 0.5rem;
    margin: 0
}
.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: baseline;
    padding: 1.5rem 0 0 1.5rem;  
}

.nav-logo {
    z-index:2;
    padding:0.5rem 0.5rem 0 0;
}

.logo{
    display: flex;
}

.logo-upright, .logo-horizontally {
    width:4px;
    height:1.8rem;
    margin:2px;
    background-color:black;
}

.logo-horizontally-container {
    display: flex;
    flex-direction: column;
}

.logo-horizontally {
    width:1.8rem;
    height:4px;
}

.nav-menu {
  position: relative;
  width: 70%;
  padding: 0 1rem;
  z-index: 2;
  transition: .5s;
}

.nav-menu::after {
    content:"▼";
    font-size:0.5rem;
}

.nav-menu.open, .open {
    color:white;
}

.nav-menu.open::after {
    content:"▲";
    font-size:0.5rem;
}

.menu-lists {
    position: absolute;
    top:-100rem;
    left:0rem;
    background-color:#0000ff;
    padding: 5rem 1rem 1rem;
    width:100%;
    transition: .35s;
}

.menu-lists.open {
    top:0rem;
    left:0rem;
    top: 0rem;
    display: flex;
    flex-direction: column;
}

.menu-presentation,
 .article-summary,
 .article-title {
    padding-top: 0.5rem;
    font-weight: 500;
    font-size:0.8em;
    color: white;
    display: flex;
    flex-direction: column;
}

.separation {
    position :  absolute;
    width: 100%;
    height: 1px;
    background-color:gray;
    top:4.5rem;
    left:0; 
}
.separation.open {
    display:none;
}

.menu-close {
    color: black;
    font-weight: 500;
    font-size:0.8em;
    margin: 2rem 0 0;
}

.last-articles {
    overflow:scroll;
    display:flex;
    scroll-snap-type: x;
}

.article {
    flex: 1 0 70%;   
}

.logo-upright.open, .logo-horizontally.open {
    background-color:white;
}

.active {
    color: #b95a0c;
}