@media screen and (min-width:768px) {
     /*
    * NAV
    */
    .article {
        flex: 1 0 34%;
    }
    /*
    * MAIN
    */
    .container-picture {
        padding: 38%;
    }

    .main-two-picture {
        width: 54%;
        top: 1.5%;
        left:0;
    }

    .main-two-picture:nth-child(odd) {
        width: 62%;
        top: -9.5%;
        left: 49%;
        border: 6rem solid #fbffa7;
    }
    .main-text,
    .main-video,
    .main-video-legende {
        padding: 0 5rem;
    }
    .play {
        top: -14.5rem;
        left: 18.5rem;
    }
    .play.play-in-progress {
        top: -68px;
        left: 84px;
    }

    img.main-tree-picture:nth-of-type(1) {
        top: 6%;
        left: 0;
    }

    img.main-tree-picture:nth-of-type(2) {
        left: 43%;
        width: 55%;
        top: 12%;
    }
    .background-picture {
        width: 68%;
        height: 95%;
    }
    .main-tree-picture {
        top: 47%;
    }
}